.search-content {
    max-width: 800px;
}

.search-button {
    border-radius: 20px;
}
.search-button:hover {
    background-color:rgb(23, 62, 146);
    border-color: grey;
    border-radius: 20px;
}

.search-button:active {
    background-color:darkgray;
    border-color: grey;
    border-radius: 20px;
}

.page-container {
    overflow: hidden;
    background-image: url('/public/back-searcher.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 90vh;
    background-attachment: fixed;
}

.full-screen-searcher {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
