/* SearchItemScheduleComponent.css */

.container {
  margin: 10px; /* Ajusta según sea necesario */
}

.schedule-item {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 10px;
  align-items: center;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #ccc;
}

.schedule-item:hover {
  background-color: #f0f0f0;
}

.bg-unavaible {
  background-color: #b9b9b9;
}

.bg-unavaible:hover {
  background-color: #b9b9b9;
}

.departure,
.arrival {
  margin-bottom: 5px;
}

.arrow {
  font-size: 24px;
  margin: 0 10px;
}
