/* Clase para el fondo rojo en pantalla completa */
.full-screen {
  background-image: url('/public/back-searcher.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Clase para el contenedor personalizado con bordes redondeados */
.container-custom {
    margin-top: 5vh;
    text-align: center;
    max-width: 530px;
    width: 100%;
    border-radius: 20px;
    background-color: white; /* Color de fondo blanco */
    padding: 30px; /* Añade un espacio interior al contenedor */
}

.container-custom-big {
  margin-top: 5vh;
  text-align: center;
  max-width: 1000px;
  width: 100%;
  border-radius: 20px;
  background-color: white; /* Color de fondo blanco */
  padding: 30px; /* Añade un espacio interior al contenedor */
}

.container-custom-extra-big {
  margin-top: 5vh;
  text-align: center;
  max-width: 1500px;
  width: 100%;
  border-radius: 20px;
  background-color: white; /* Color de fondo blanco */
  padding: 30px; /* Añade un espacio interior al contenedor */
}

.container-custom-mid {
  margin-top: 5vh;
  text-align: center;
  max-width: 800px;
  width: 100%;
  border-radius: 20px;
  background-color: white; /* Color de fondo blanco */
  padding: 30px; /* Añade un espacio interior al contenedor */
}

.container-custom-bordered-center {
  margin-top: 2vh;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  border: 2px solid;
  border-color: rgb(220, 220, 220);
  background-color: white; /* Color de fondo blanco */
  padding: 30px; /* Añade un espacio interior al contenedor */
}

.container-custom-bordered-left {
  margin-top: 2vh;
  text-align: left;
  width: 100%;
  border-radius: 20px;
  border: 2px solid;
  border-color: rgb(220, 220, 220);
  background-color: white; /* Color de fondo blanco */
  padding: 30px; /* Añade un espacio interior al contenedor */
}

.container-custom-mid-left {
  margin-top: 5vh;
  text-align: center;
  max-width: 800px;
  width: 100%;
  border-radius: 20px;
  background-color: white; /* Color de fondo blanco */
  padding: 30px; /* Añade un espacio interior al contenedor */
}

.custom-border {
  border: 1px solid #000; /* Puedes ajustar el color y el grosor del borde según tus preferencias */
  padding: 10px; /* Puedes ajustar el relleno según tus preferencias */
}